# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
.env
.venv
venv/
ENV/

# ===============================
# Jupyter / IDE
# ===============================
.ipynb_checkpoints/
.vscode/
.idea/

# ===============================
# Selenium / WebDriver
# ===============================
chromedriver*
geckodriver*
msedgedriver*

# ===============================
# Output files
# ===============================
*.csv
*.xlsx

# ===============================
# Logs
# ===============================
error.log

# ===============================
# OS files
# ===============================
.DS_Store
Thumbs.db
